<!doctype html>
<html ng-app="app">
<head>
    <title>Hash Service</title>
    <link rel="stylesheet" href="css/main.css">
    <script src="js/lib/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controller/default.js"></script>
</head>
	<body>
        <form name="myForm" id="myForm" novalidate>
            <div class="small-container" ng-controller="AppCtrl">
                <h3>{{title}}</h3>
                <div class="flex-row">
                    <label for="txtInput">Enter text to hash:</label>
                    <textarea id="txtInput"
                              name="txtInput"
                              ng-model="text"
                              maxlength="512"></textarea>
                    <span style="color:red" ng-show="showError">
                        Text is required.
                    </span>
                </div>
                <div class="flex-row">
                    <label>Choose algorithm:</label>
                </div>
                <div class="flex-row">
                    <div class="flex-small"><label for="md5"><input type="radio" ng-model="hashtype" id="md5" value="MD5" checked />&nbsp;MD5</label></div>
                    <div class="flex-small"><label for="sha1"><input type="radio" ng-model="hashtype" id="sha1" value="SHA1" />&nbsp;SHA1</label></div>
                    <div class="flex-small"><label for="sha256"><input type="radio" ng-model="hashtype" id="sha256" value="SHA256" />&nbsp;SHA256</label></div>
                    <div class="flex-small"><label for="sha384"><input type="radio" ng-model="hashtype" id="sha384" value="SHA384" />&nbsp;SHA384</label></div>
                    <div class="flex-small"><label for="sha512"><input type="radio" ng-model="hashtype" id="sha512" value="SHA512" />&nbsp;SHA512</label></div>
                </div>
                <div class="flex-row">
                    <input type="button" value="Apply" ng-click="GetHashCode()"/>
                </div>
                <div class="flex-row">
                    <textarea ng-model="hashcode" readonly placeholder="Output hashcode"></textarea>
                </div>
            </div>
        </form>
	</body>
</html>